redirectmatch 301 /charm-guide/latest/find-us.html$	/charm-guide/latest/community.html
redirectmatch 301 /charm-guide/latest/charm-anatomy.html$	/charm-guide/latest/concepts/charm-anatomy.html
redirectmatch 301 /charm-guide/latest/charms-and-bundles.html$	/charm-guide/latest/getting-started/charms-and-bundles.html
redirectmatch 301 /charm-guide/latest/getting-started.html$	/charm-guide/latest/getting-started/index.html
redirectmatch 301 /charm-guide/latest/new-api-charm.html$	/charm-guide/latest/howto/new-api-charm.html
redirectmatch 301 /charm-guide/latest/new-manila-charm.html$	/charm-guide/latest/howto/new-manila-charm.html
redirectmatch 301 /charm-guide/latest/new-sdn-charm.html$	/charm-guide/latest/howto/new-sdn-charm.html
redirectmatch 301 /charm-guide/latest/backport-policy.html$	/charm-guide/latest/reference/backport-policy.html
redirectmatch 301 /charm-guide/latest/coding-guidelines.html$	/charm-guide/latest/reference/coding-guidelines.html
redirectmatch 301 /charm-guide/latest/creating-charms.html$	/charm-guide/latest/reference/creating-charms.html
redirectmatch 301 /charm-guide/latest/feature-specification.html$	/charm-guide/latest/reference/feature-specification.html
redirectmatch 301 /charm-guide/latest/how-to-contribute.html$	/charm-guide/latest/reference/how-to-contribute.html
redirectmatch 301 /charm-guide/latest/making-a-change.html$	/charm-guide/latest/reference/making-a-change.html
redirectmatch 301 /charm-guide/latest/openstack-charms.html$	/charm-guide/latest/reference/openstack-charms.html
redirectmatch 301 /charm-guide/latest/author-guides/reactive-handlers-optimization.html$	/charm-guide/latest/reference/reactive-handlers-optimization.html
redirectmatch 301 /charm-guide/latest/release-policy.html$	/charm-guide/latest/reference/release-policy.html
redirectmatch 301 /charm-guide/latest/release-schedule.html$	/charm-guide/latest/reference/release-schedule.html
redirectmatch 301 /charm-guide/latest/release-timeline-2008.html$	/charm-guide/latest/reference/release-timeline-2008.html
redirectmatch 301 /charm-guide/latest/release-timeline-2010.html$	/charm-guide/latest/reference/release-timeline-2010.html
redirectmatch 301 /charm-guide/latest/release-timeline-2101.html$	/charm-guide/latest/reference/release-timeline-2101.html
redirectmatch 301 /charm-guide/latest/release-timeline-2104.html$	/charm-guide/latest/reference/release-timeline-2104.html
redirectmatch 301 /charm-guide/latest/release-timeline-2110.html$	/charm-guide/latest/reference/release-timeline-2110.html
redirectmatch 301 /charm-guide/latest/rotas.html$	/charm-guide/latest/reference/rotas.html
redirectmatch 301 /charm-guide/latest/support-notes.html$	/charm-guide/latest/reference/support-notes.html
redirectmatch 301 /charm-guide/latest/testing.html$	/charm-guide/latest/reference/testing.html
redirectmatch 301 /charm-guide/latest/1610.html$	/charm-guide/latest/release-notes/1610.html
redirectmatch 301 /charm-guide/latest/1702.html$	/charm-guide/latest/release-notes/1702.html
redirectmatch 301 /charm-guide/latest/1708.html$	/charm-guide/latest/release-notes/1708.html
redirectmatch 301 /charm-guide/latest/1711.html$	/charm-guide/latest/release-notes/1711.html
redirectmatch 301 /charm-guide/latest/1802.html$	/charm-guide/latest/release-notes/1802.html
redirectmatch 301 /charm-guide/latest/1805.html$	/charm-guide/latest/release-notes/1805.html
redirectmatch 301 /charm-guide/latest/1808.html$	/charm-guide/latest/release-notes/1808.html
redirectmatch 301 /charm-guide/latest/1811.html$	/charm-guide/latest/release-notes/1811.html
redirectmatch 301 /charm-guide/latest/1904.html$	/charm-guide/latest/release-notes/1904.html
redirectmatch 301 /charm-guide/latest/1907.html$	/charm-guide/latest/release-notes/1907.html
redirectmatch 301 /charm-guide/latest/1910.html$	/charm-guide/latest/release-notes/1910.html
redirectmatch 301 /charm-guide/latest/2002.html$	/charm-guide/latest/release-notes/2002.html
redirectmatch 301 /charm-guide/latest/2005.html$	/charm-guide/latest/release-notes/2005.html
redirectmatch 301 /charm-guide/latest/2008.html$	/charm-guide/latest/release-notes/2008.html
redirectmatch 301 /charm-guide/latest/2010.html$	/charm-guide/latest/release-notes/2010.html
redirectmatch 301 /charm-guide/latest/2101.html$	/charm-guide/latest/release-notes/2101.html
redirectmatch 301 /charm-guide/latest/2103_Trilio.html$	/charm-guide/latest/release-notes/2103_Trilio.html
redirectmatch 301 /charm-guide/latest/2104.html$	/charm-guide/latest/release-notes/2104.html
redirectmatch 301 /charm-guide/latest/2106_Trilio.html$	/charm-guide/latest/release-notes/2106_Trilio.html
redirectmatch 301 /charm-guide/latest/2110.html$	/charm-guide/latest/release-notes/2110.html
redirectmatch 301 /charm-guide/latest/release-notes.html$	/charm-guide/latest/release-notes/index.html
redirectmatch 301 /charm-guide/latest/release-notes-template.html$	/charm-guide/latest/release-notes/release-notes-template.html
