redirectmatch 301 ^/charm-guide/([^/]+)/find-us.html$ /charm-guide/$1/community.html
redirectmatch 301 ^/charm-guide/([^/]+)/charm-anatomy.html$ /charm-guide/$1/concepts/charm-anatomy.html
redirectmatch 301 ^/charm-guide/([^/]+)/charms-and-bundles.html$ /charm-guide/$1/getting-started/charms-and-bundles.html
redirectmatch 301 ^/charm-guide/([^/]+)/getting-started.html$ /charm-guide/$1/getting-started/index.html
redirectmatch 301 ^/charm-guide/([^/]+)/new-api-charm.html$ /charm-guide/$1/howto/new-api-charm.html
redirectmatch 301 ^/charm-guide/([^/]+)/new-manila-charm.html$ /charm-guide/$1/howto/new-manila-charm.html
redirectmatch 301 ^/charm-guide/([^/]+)/new-sdn-charm.html$ /charm-guide/$1/howto/new-sdn-charm.html
redirectmatch 301 ^/charm-guide/([^/]+)/backport-policy.html$ /charm-guide/$1/reference/backport-policy.html
redirectmatch 301 ^/charm-guide/([^/]+)/coding-guidelines.html$ /charm-guide/$1/reference/coding-guidelines.html
redirectmatch 301 ^/charm-guide/([^/]+)/creating-charms.html$ /charm-guide/$1/reference/creating-charms.html
redirectmatch 301 ^/charm-guide/([^/]+)/feature-specification.html$ /charm-guide/$1/reference/feature-specification.html
redirectmatch 301 ^/charm-guide/([^/]+)/how-to-contribute.html$ /charm-guide/$1/reference/how-to-contribute.html
redirectmatch 301 ^/charm-guide/([^/]+)/making-a-change.html$ /charm-guide/$1/reference/making-a-change.html
redirectmatch 301 ^/charm-guide/([^/]+)/openstack-charms.html$ /charm-guide/$1/reference/openstack-charms.html
redirectmatch 301 ^/charm-guide/([^/]+)/author-guides/reactive-handlers-optimization.html$ /charm-guide/$1/reference/reactive-handlers-optimization.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-policy.html$ /charm-guide/$1/reference/release-policy.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-schedule.html$ /charm-guide/$1/reference/release-schedule.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-timeline-2008.html$ /charm-guide/$1/reference/release-timeline-2008.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-timeline-2010.html$ /charm-guide/$1/reference/release-timeline-2010.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-timeline-2101.html$ /charm-guide/$1/reference/release-timeline-2101.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-timeline-2104.html$ /charm-guide/$1/reference/release-timeline-2104.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-timeline-2110.html$ /charm-guide/$1/reference/release-timeline-2110.html
redirectmatch 301 ^/charm-guide/([^/]+)/rotas.html$ /charm-guide/$1/reference/rotas.html
redirectmatch 301 ^/charm-guide/([^/]+)/support-notes.html$ /charm-guide/$1/reference/support-notes.html
redirectmatch 301 ^/charm-guide/([^/]+)/testing.html$ /charm-guide/$1/reference/testing.html
redirectmatch 301 ^/charm-guide/([^/]+)/1610.html$ /charm-guide/$1/release-notes/1610.html
redirectmatch 301 ^/charm-guide/([^/]+)/1702.html$ /charm-guide/$1/release-notes/1702.html
redirectmatch 301 ^/charm-guide/([^/]+)/1708.html$ /charm-guide/$1/release-notes/1708.html
redirectmatch 301 ^/charm-guide/([^/]+)/1711.html$ /charm-guide/$1/release-notes/1711.html
redirectmatch 301 ^/charm-guide/([^/]+)/1802.html$ /charm-guide/$1/release-notes/1802.html
redirectmatch 301 ^/charm-guide/([^/]+)/1805.html$ /charm-guide/$1/release-notes/1805.html
redirectmatch 301 ^/charm-guide/([^/]+)/1808.html$ /charm-guide/$1/release-notes/1808.html
redirectmatch 301 ^/charm-guide/([^/]+)/1811.html$ /charm-guide/$1/release-notes/1811.html
redirectmatch 301 ^/charm-guide/([^/]+)/1904.html$ /charm-guide/$1/release-notes/1904.html
redirectmatch 301 ^/charm-guide/([^/]+)/1907.html$ /charm-guide/$1/release-notes/1907.html
redirectmatch 301 ^/charm-guide/([^/]+)/1910.html$ /charm-guide/$1/release-notes/1910.html
redirectmatch 301 ^/charm-guide/([^/]+)/2002.html$ /charm-guide/$1/release-notes/2002.html
redirectmatch 301 ^/charm-guide/([^/]+)/2005.html$ /charm-guide/$1/release-notes/2005.html
redirectmatch 301 ^/charm-guide/([^/]+)/2008.html$ /charm-guide/$1/release-notes/2008.html
redirectmatch 301 ^/charm-guide/([^/]+)/2010.html$ /charm-guide/$1/release-notes/2010.html
redirectmatch 301 ^/charm-guide/([^/]+)/2101.html$ /charm-guide/$1/release-notes/2101.html
redirectmatch 301 ^/charm-guide/([^/]+)/2103_Trilio.html$ /charm-guide/$1/release-notes/2103_Trilio.html
redirectmatch 301 ^/charm-guide/([^/]+)/2104.html$ /charm-guide/$1/release-notes/2104.html
redirectmatch 301 ^/charm-guide/([^/]+)/2106_Trilio.html$ /charm-guide/$1/release-notes/2106_Trilio.html
redirectmatch 301 ^/charm-guide/([^/]+)/2110.html$ /charm-guide/$1/release-notes/2110.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-notes.html$ /charm-guide/$1/release-notes/index.html
redirectmatch 301 ^/charm-guide/([^/]+)/release-notes-template.html$ /charm-guide/$1/release-notes/release-notes-template.html
